/*-- scss:defaults --*/

$theme-darkblue: #01364C;
$theme-blue: #00e0e0;
$theme-white: #E1E8EB;
$theme-yellow: #F4BA02;
$theme-red: #9B1B34;
$theme-timberwolf: #F8F8F8;
$theme-brown: #472120;
$theme-green: darken(#269b88, 5%);

$link-color: $theme-blue;
$header-color: $theme-green;
$body-bg: $theme-timberwolf;
$body-color: $theme-darkblue;

$theme-highlight: $theme_yellow;
$theme-inlinecode: lighten($body_color, 10%);
$theme-background: $theme_timberwolf;
$theme-codeblock: $theme_darkblue;

$code-block-border-color: $theme-darkblue;
$code-block-bg: $theme-codeblock;
$code-color: $theme-inlinecode;

$navbar-bg: $theme-darkblue;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;
$presentation-heading-font: 'Roboto Condensed', san-serif; 

/*-- scss:rules --*/

.absolute {
    font-family: 'Roboto Condensed', san-serif;
    font-size:2em;
    padding: 0.5em 0.5em;
    background-color: rgba(248, 248, 248, .0);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(248, 248, 248, .5);
    border-radius: 5px;
}

.highlight{
    color: $theme-highlight !important;
    font-weight: bold !important;
}

.lightblue{
    color: $theme-blue;
    font-weight: bold;
}

.red{
    color: $theme-red;
    font-weight: bold;
}

.brown{
    color: $theme-brown;
    font-weight: bold;
}

.green{
    color: $theme-green;
    font-weight: bold;
}

.link{
    color: $link-color;
}

.table-striped {
    > tbody > tr:nth-of-type(odd) > * {
      background-color: $theme_white;
    }
  }


.reveal pre code {
  background-color: $theme-white;
  color: $theme-darkblue;
}

.reveal div.sourceCode {
  border: none;
  border-radius: 0px;
  margin-bottom: 10px !important;
}

.title {
  font-size: 70px !important;
  color: $header-color !important;
  font-weight: bold;

}


h1, h2, h3, h4 {
  color: $header-color;
  font-weight: bold;

}

.reveal h1 {
  color: $header-color;
  font-weight: bold;

}

.reveal h2 {
  color: lighten($header-color, 5%);
  font-weight: bold;
}

.reveal h3 {
  color: lighten($header-color, 10%);
  font-weight: bold;
}


.quarto-title-author-name {
  font-size: 100px;
  color: $body-bg !important;
}

.date {
  font-size: 80px;
  color: $body-bg !important;
}

.small {
  font-size: 20px;
}

.image-ref {
  font-size: 10px;
  color: darken($theme-timberwolf, 30%);
}

.small-latex {
  font-size: 30px;
}

.plot-frame {
  border: 2px solid #000; /* Black border, you can change the color */
  padding: 10px; /* Padding around the plot */
  border-radius: 5px; /* Optional: rounded corners */
  background-color: #f8f8f8; /* Optional: background color */
}

